Body{
  background-color: black;
  
}
div{
  background-color: yellow;
  color:white;
  height: 100px;
}
.Div1{
  background-color:blue;
}
.Div2{
  background-color:green;
}
.Div3{
  background-color:gray;
}
